.custom-dropdown-menu {
    background-color: rgb(26, 25, 25) !important;
}

.custom-dropdown-item {
    background-color: rgb(0, 0, 0);
    color: white;
}

.custom-dropdown-item:hover {
    background-color: rgb(0, 0, 0) !important;
    color: rgb(0, 0, 0);
}
